/* CSS files add styling rules to your content */

body {
  background-image: url("https://cdn.glitch.com/c5e58667-1dd2-43af-92d2-b58b756498ce%2Fconfetti.jpg?v=1594243566707");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}



h1 {
  color: white;
  font-family: 'Bangers', cursive;
  text-align: center;
  letter-spacing: 1px;
  font-size: 4em;
  text-shadow: 4px 4px #ff0000;
  padding-top: 0.5em
}


h2 {
  margin-top: 2em;
  text-align: center;
  color: #ff1499;
  text-shadow: 2px 2px 5px white;
  font-family: 'Oswald', sans-serif;
  font-size: 3em
}


.question {
  display: flex;
  margin-top: 2em;
}


   
.answer-choice img {
  height: 250px;
}

*{
  margin: 0px;
  padding: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

button {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  transition-duration: 0.3s;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 1.8em
}
  


button:hover {
  background-color: white;
  color: blue;
}

